---
import BackToTop from '../components/ui/BackToTop.astro';
import Layout from '../layouts/Layout.astro';
//this page is not visible to user yet
---

<Layout>

  <main id="blogContent">
    <section class="flex flex-col-reverse items-center justify-center text-center lg:flex-row min-h-80">
    </section>
    <BackToTop />
  </main>
</Layout>
