---
import BaseLayout from '@/layouts/BaseLayout';
import About from '../components/About.astro';
import Hero from '../components/Hero.astro';
import ProfessionalJourney from '../components/ProfessionalJourney.astro';
import TechnicalExpertise from '../components/TechnicalExpertise.astro';
import FeaturedProjects from '../components/FeaturedProjects.astro';
import Recommendations from '../components/Recommendations.astro';
import Achievements from '../components/Achievements.astro';
import BackToTop from '../components/ui/BackToTop.astro';
---

<BaseLayout title="Surya Teja | Senior Full-Stack Engineer | MERN Stack Expert">
	<div id="splashScreen" class="fixed inset-0 z-50 flex items-center justify-center bg-black">
		<h1 id="splashText" class="font-monospace text-4xl font-bold text-orange"></h1>
	</div>

	<main class="hidden" id="mainContent">
		<Hero />
		<About />
		<ProfessionalJourney />
		<TechnicalExpertise />
		<FeaturedProjects />
		<Recommendations />
		<Achievements />
		<BackToTop />
	</main>

	<script type="module" is:inline>
		function showSplashScreen() {
			const SPLASH_DURATION = 2000; // 2 seconds

			const splashScreen = document.getElementById('splashScreen');
			const mainContent = document.getElementById('mainContent');
			let index = 0;
			const text = 'G Surya Teja';
			const splashText = document.getElementById('splashText');

			const interval = setInterval(() => {
				if (splashText) {
					splashText.textContent += text[index++];
				}
				if (index >= text.length) clearInterval(interval);
			}, 100);

			setTimeout(() => {
				splashScreen.style.display = 'none';
				mainContent.style.display = 'block';
			}, SPLASH_DURATION);
		}
		showSplashScreen();
	</script>
</BaseLayout>
