---

---

<section
	data-testid="about"
	id="about"
	class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:flex-row"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-2xl text-orange lg:text-4xl">About me</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-orange"></span>
	</div>

	<div class="w-full text-justify text-black lg:w-1/2 dark:text-white">
		<p class="mb-2 text-xl">
			Specializing in frontend development, I excel in React, Redux, and Node.js. My career includes
			impactful roles at LLoyds, DBS Bank and Arcserve, contributing to innovative web applications. As a
			Bits Pilani alum, I'm dedicated to continual learning in the ever-evolving tech landscape.
			Honored with multiple performance awards, I'm enthusiastic about engaging in collaborative
			projects and driving technological advancements. Let's connect to explore and shape the future
			of web development!
		</p>
	</div>
</section>
