---
import Title from './Title.astro'
import Shape from './icons/Shape.astro'
import TagIcon from './icons/TagIcon.astro'
import BlogIcon from './icons/BlogIcon.astro'

type Props = {
	title: string
	icon?: 'tag' | 'blog' | 'default'
}

const { title, icon = 'default' } = Astro.props
---

<div class='flex justify-start items-center gap-2 title'>
	{icon === 'tag' ? <TagIcon /> : icon === 'blog' ? <BlogIcon /> : <Shape />}
	<Title>{title}</Title>
</div>
